@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

body {    
    background: rgba(211, 219, 219, 0.63);
     font-size: 18px;
    font-family: shantell Sans, sans-serif;
    font-weight: 400;}
.info-text {
    font-style: italic;
    font-family:'Times New Roman';
    color:#585656;
    margin-left: 20px;
}

.info-text p {
margin: 0;
color: #858685;

}
.info-text h1 {
    font-style: normal;
    margin-bottom: 10px;}
.info-text h3 {
margin-bottom: 3px;
font-style: normal;
color: #585656; 
}
.tome {    color:black;
    text-align: center;
font-family: 'Times New Roman', Times, serif;}
.card-hobbi {
width: 270px;
height: 170px;
    border-radius: 20px;
 background-color: rgb(235, 243, 190);
 padding-left: 20px;
 padding-bottom: 2px;
 box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
 margin-right: 20px;

}
.card-hobbi h2 {
margin: 10px;
text-align: center;}

.card-opit {
   
    border-radius: 20px;
    background-color: rgb(203, 250, 222);
    padding-left: 20px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.card-opit h2 {
    text-align: center;  
    margin: 10px;
}

.card-like {
    width: 420px;
    height: 170px;
    border-radius: 20px;
    background-color: rgb(250, 203, 213);
    padding-left: 20px;
    padding-bottom: 2px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    
}

.card-like h2 {
    margin: 10px;   
    text-align: center;  
}



.container {
max-width: 750px;
margin: auto;
padding-top: 30px;
}

.foto {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 220px;
  border-radius: 28px;
     }

a {
color: #3806eb;
text-decoration: none;
font-size: 18px;
font-style: normal;
}

a:hover {
text-decoration: underline;
color: #50a0eb;
}

a:active {
color: rgb(255, 0, 0);
}


.btn {
color: rgb(255, 255, 255);
background-color: black;
width: 150px;
height: 40px;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
border-radius: 20px;
border: 0;
font-family: inherit;
cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.list {
margin: 0;
padding: 0px;
list-style: none;

}

.list-1 {padding: 0px;}

.list li {
    margin-bottom: 5px;
    border-bottom: 2px solid grey;
    width: 250px;
    padding: 0px;
    padding-bottom: 4px;
 
}

.list-1 li {
    margin-bottom: 5px;
    border-bottom: 2px solid grey;
    width: 350px;
    list-style: none;
    padding-bottom: 2px;
  
}

.table {
width: 100%;
}

.table td {
padding-right: 5px;
padding-bottom: 8px;
}

.table thead:nth-child(1) {
background: #11c238;

}

.vmeste {
    display: flex;}

.table td:nth-child(2), .table td:nth-child(3) {color: #858685;}

.info { display: flex;}

.namemail { display: flex;
margin-bottom: 20px;
font-family: 'Times New Roman', Times, serif;



}
.btn1 {width: 750px;}
.message {font-family: 'Times New Roman', Times, serif;
width: 750px;}

textarea {
    width: 750px;
    margin-top: 10px;
    background-color: inherit;
    border-top: rgba(211, 219, 219, 0.63);
    border-left: rgba(211, 219, 219, 0.63);
    border-right: rgba(211, 219, 219, 0.63);
    outline: none;
    font-family: inherit;
    font-size: 15px;
}
.name1 {width: 350px; border-bottom: 20px;}
.mail1 {margin-left: 50px;}
input {background-color: inherit;
    border-top: rgba(211, 219, 219, 0.63);
    border-left: rgba(211, 219, 219, 0.63);
    border-right: rgba(211, 219, 219, 0.63);
    margin-top: 10px;
    width: 350px;
    outline: none;
    font-family: inherit;
    font-size: 15px;}

@media (max-width: 758px) {
.container {margin: auto;}
.info {display: block; text-align: center;}
.vmeste {display: block;}
.card-hobbi {margin: auto;}
.card-like {margin: auto; width: 270px;}
.card-like li {width: 250px; height: 20px; margin-bottom: 5px; padding-bottom: 5px;}
.card-like h2 {font-size: 20px;}
.namemail {display: block; }
.name1 {margin: auto; margin-bottom: 20px;}
.mail1 {margin: auto; width: 350px; }
.message {width: 350px; margin: auto;}
.message1 {width: 350px}
.btn1 {margin: auto; width: 150px}

}